$dark-türkiz: rgb(0, 72, 114);
$light-türkiz: lighten($dark-türkiz, 15);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: $dark-türkiz;
}

.todo-container{
    width: 100%;
    padding: 5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    
    #add-todo-form{
        border: 2px solid $dark-türkiz;
        padding: 5rem 3rem;
        border-radius: 10px;
        h2{
            font-size: 2.1rem;
        }

        input,
        textarea{
            border: $dark-türkiz 1px solid;
            transition: 100ms all ease-out;
            width: 100%;

            &:hover{
                color: $light-türkiz;
                border-color: $light-türkiz;
            }
        }
    }

    #todo-table{
        td,th{
            text-align: center;

            i{
                font-size: 2rem;
                cursor: pointer;
                transition: 150ms all ease-out;

                &:hover{
                    color: $light-türkiz;
                }
                &.delete-icon{
                    &:hover{
                        color: red;
                    }
                }
            }
        }
    }
}
