* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #004872;
}

.todo-container {
  width: 100%;
  padding: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.todo-container #add-todo-form {
  border: 2px solid #004872;
  padding: 5rem 2rem 4rem 2rem;
  border-radius: 10px;
}

.todo-container #add-todo-form h2 {
  font-size: 2.1rem;
  margin-bottom: 6rem;
}

.todo-container #add-todo-form .urgent-checkbox-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.todo-container #add-todo-form .urgent-checkbox-field .checkbox-cover {
  height: 15px;
  width: 15px;
  position: absolute;
  border: 0.7px #0078bf solid;
  cursor: pointer;
  -webkit-transition: 150ms background ease-out;
  transition: 150ms background ease-out;
}

.todo-container #add-todo-form .urgent-checkbox-field .checkbox-cover:hover {
  background: #0ca5ff;
}

.todo-container #add-todo-form .urgent-checkbox-field .checkbox-cover[data-urgent-cb-check="true"] {
  background: #004872;
}

.todo-container #add-todo-form .urgent-checkbox-field label {
  margin: 0;
  padding: 0;
}

.todo-container #add-todo-form .urgent-checkbox-field #urgent-todo-checkbox {
  margin: 0 1rem 0 0;
  width: auto;
  visibility: hidden;
}

.todo-container #add-todo-form input,
.todo-container #add-todo-form textarea,
.todo-container #add-todo-form button {
  border: #004872 1px solid;
  -webkit-transition: 100ms all ease-out;
  transition: 100ms all ease-out;
  width: 100%;
}

.todo-container #add-todo-form input#add-todo-btn,
.todo-container #add-todo-form textarea#add-todo-btn,
.todo-container #add-todo-form button#add-todo-btn {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.todo-container #add-todo-form input#add-todo-btn i,
.todo-container #add-todo-form textarea#add-todo-btn i,
.todo-container #add-todo-form button#add-todo-btn i {
  font-size: 1.7rem;
  margin-right: .5rem;
}

.todo-container #add-todo-form input#add-todo-btn:hover,
.todo-container #add-todo-form textarea#add-todo-btn:hover,
.todo-container #add-todo-form button#add-todo-btn:hover {
  background: #004872;
  color: whitesmoke;
}

.todo-container #add-todo-form input:hover,
.todo-container #add-todo-form textarea:hover,
.todo-container #add-todo-form button:hover {
  color: #0078bf;
  border-color: #0078bf;
}

.todo-container #todo-table {
  border-collapse: collapse;
  border-spacing: 0;
}

.todo-container #todo-table #todo-table-body .urgent {
  background: #d8f1ff;
  border: none;
  font-weight: 600;
}

.todo-container #todo-table #todo-table-body .status-icon {
  position: relative;
  margin: 0 .5rem;
}

.todo-container #todo-table #todo-table-body .status-icon::after {
  content: 'Finish / Unfinish';
  padding: 0.4rem 0.7rem;
  border: #004872 1.5px solid;
  border-radius: 5px;
  color: #004872;
  font-weight: 600;
  position: absolute;
  top: -120%;
  left: -12rem;
  font-size: 1.2rem;
  min-width: 10rem;
  opacity: 0;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-transform: rotate(-20deg) translate(2rem, 4rem);
          transform: rotate(-20deg) translate(2rem, 4rem);
  pointer-events: none;
}

.todo-container #todo-table #todo-table-body .status-icon:hover:after {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.todo-container #todo-table td,
.todo-container #todo-table th {
  text-align: center;
  width: auto;
  margin: 0;
}

.todo-container #todo-table td i,
.todo-container #todo-table th i {
  font-size: 2rem;
  padding: 0.3rem;
  cursor: pointer;
  -webkit-transition: 150ms all ease-out;
  transition: 150ms all ease-out;
}

.todo-container #todo-table td i:hover,
.todo-container #todo-table th i:hover {
  color: #0078bf;
}

.todo-container #todo-table td i.finished-icon,
.todo-container #todo-table th i.finished-icon {
  color: green;
}

.todo-container #todo-table td i.finished-icon:hover,
.todo-container #todo-table th i.finished-icon:hover {
  color: #009a00;
}

.todo-container #todo-table td i.delete-icon,
.todo-container #todo-table th i.delete-icon {
  position: relative;
}

.todo-container #todo-table td i.delete-icon::after,
.todo-container #todo-table th i.delete-icon::after {
  content: 'Delete ToDo';
  padding: 0.4rem 0.7rem;
  border: red 1.5px solid;
  border-radius: 5px;
  color: red;
  font-weight: 600;
  position: absolute;
  top: -120%;
  left: 2rem;
  font-size: 1.2rem;
  min-width: 10rem;
  opacity: 0;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -webkit-transform: rotate(20deg) translate(2rem, 4rem);
          transform: rotate(20deg) translate(2rem, 4rem);
  pointer-events: none;
}

.todo-container #todo-table td i.delete-icon:hover,
.todo-container #todo-table th i.delete-icon:hover {
  color: red;
}

.todo-container #todo-table td i.delete-icon:hover:after,
.todo-container #todo-table th i.delete-icon:hover:after {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.alert {
  text-align: center;
  -webkit-transition: 400ms all ease-out;
  transition: 400ms all ease-out;
  max-height: 0;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  padding: 0.4rem 0.6rem;
  margin: 1rem 0;
  color: white;
  opacity: 0;
  border-radius: 5px;
  -webkit-animation: showAlert 400ms forwards;
          animation: showAlert 400ms forwards;
}

.alert.success {
  background: #0078bf;
  opacity: 1;
}

.alert.error {
  background: #004872;
  opacity: 1;
}

@-webkit-keyframes showAlert {
  0% {
  }
  100% {
    max-height: 100%;
  }
}

@keyframes showAlert {
  0% {
  }
  100% {
    max-height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */