$dark-türkiz: rgb(0, 72, 114);
$light-türkiz: lighten($dark-türkiz, 15);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $dark-türkiz;
}

.todo-container {
    width: 100%;
    padding: 5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;

    #add-todo-form {
        border: 2px solid $dark-türkiz;
        padding: 5rem 2rem 4rem 2rem;
        border-radius: 10px;
        z-index: 3;
        position: relative;
        h2 {
            font-size: 2.1rem;
            margin-bottom: 6rem;
        }

        .urgent-checkbox-field{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;

            .checkbox-cover{
                height: 15px;
                width: 15px;
                position: absolute;
                border: .7px $light-türkiz solid;
                cursor: pointer;
                transition: 150ms background ease-out;

                &:hover{
                    background: lighten($light-türkiz, 15);
                }

                &[data-urgent-cb-check="true"]{
                    background: $dark-türkiz;
                    box-shadow: inset 0 0 0 2px white;
                }
            }

            label{
                margin: 0;
                padding: 0;
            }

            #urgent-todo-checkbox{
                margin: 0 1rem 0 0;
                width: auto;
                visibility: hidden;

            }
        }

        input,
        textarea,
        button {
            border: $dark-türkiz 1px solid;
            transition: 100ms all ease-out;
            width: 100%;

            &#add-todo-btn{
                margin-top: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                i{
                    font-size: 1.7rem;
                    margin-right: .5rem;
                }

                &:hover{
                    background: $dark-türkiz;
                    color: whitesmoke;
                }
            }

            &:hover {
                color: $light-türkiz;
                border-color: $light-türkiz;
            }
        }


            .urgent-todo-calendar-container{
                margin: 1rem 0;
                display: none;
                opacity: 0;

                &[data-urgent-reveal="true"]{
                    display: block;
                    animation: revealItem 500ms forwards;
                }

                #urgent-todo-calendar-day,
                #urgent-todo-calendar-time{
                    padding: 1rem;
                }
            }
    }

    #todo-table {

        border-collapse: collapse;
        border-spacing: 0;
        #todo-table-body {
            .urgent{
                background: lighten($light-türkiz, 55);
                border: none;
                font-weight: 600;
                position: relative;

                td:first-child{
                    background: white;
                    border: none;
                }
            }

            .status-icon {
                position: relative;
                margin: 0 .5rem;

                &::after {
                    content: 'Finish / Unfinish';
                    padding: 0.4rem 0.7rem;
                    //background: $dark-türkiz;
                    border: $dark-türkiz 1.5px solid;
                    border-radius: 5px;
                    color: $dark-türkiz;
                    font-weight: 600;
                    position: absolute;
                    top: -120%;
                    left: -12rem;
                    font-size: 1.2rem;
                    min-width: 10rem;
                    opacity: 0;
                    transition: all 200ms ease-out;
                    transform: rotate(-20deg) translate(2rem, 4rem);
                    pointer-events: none;
                }

                &:hover:after {
                    opacity: 1;
                    transform: none;
                }
            }
        }

        td,
        th {
            text-align: center;
            width: auto;
            margin: 0;
            &:first-child{
                border-bottom: none;
            }

            &.urgent-icon-td{
                position: relative;

                .time-div{
                    position: absolute;
                    color: white;
                    font-weight: 600;
                    top: -15px;
                    padding: 1rem;
                    left: -350%;
                    font-size: 1.4rem;
                    pointer-events: none;
                    //animation: revealItem 600ms forwards;
                    width: max-content;
                    transition: 300ms all ease-out;
                    opacity: 0;
                    background: rgba(32, 32, 32, 0.801);
                    max-height: 0;
                }

                &:hover .time-div{
                    max-height: 100%;
                    opacity: 1;
                }
            }
            
            i {
                font-size: 2rem;
                padding: 0.3rem;
                cursor: pointer;
                transition: 150ms all ease-out;

                &:hover {
                    color: $light-türkiz;
                }

                &.finished-icon {
                    color: green;

                    &:hover {
                        color: lighten(green, 5);
                    }
                }
                &.delete-todo-btn {
                    position: relative;

                    &::after {
                        content: 'Delete ToDo';
                        padding: 0.4rem 0.7rem;
                        border: red 1.5px solid;
                        border-radius: 5px;
                        color: red;
                        font-weight: 600;
                        position: absolute;
                        top: -120%;
                        left: 2rem;
                        font-size: 1.2rem;
                        min-width: 10rem;
                        opacity: 0;
                        transition: all 200ms ease-out;
                        transform: rotate(20deg) translate(2rem, 4rem);
                        pointer-events: none;
                    }

                    &:hover {
                        color: red;

                        &:after {
                            opacity: 1;
                            transform: none;
                        }
                    }
                }
            }
        }
    }
}

.alert {
    text-align: center;
    transition: 400ms all ease-out;
    max-height: 0;
    transform-origin: center center;
    width: 100%;
    padding: 0.4rem 0.6rem;
    margin: 1rem 0;
    color: white;
    opacity: 0;
    border-radius: 5px;
    animation: showAlert 400ms forwards;

    &.success {
        background: $light-türkiz;
        opacity: 1;
    }

    &.error {
        background: $dark-türkiz;
        opacity: 1;
    }
}

@keyframes showAlert {
    0% {
    }
    100% {
        max-height: 100%;
    }
}

@keyframes revealItem{
    100%{opacity: 1;}
}