$dark-türkiz: rgb(0, 72, 114);
$light-türkiz: lighten($dark-türkiz, 15);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $dark-türkiz;
}

.todo-container {
    width: 100%;
    padding: 5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;

    #add-todo-form {
        border: 2px solid $dark-türkiz;
        padding: 5rem 2rem 4rem 2rem;
        border-radius: 10px;
        h2 {
            font-size: 2.1rem;
            margin-bottom: 6rem;
        }

        .urgent-checkbox-field{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;

            .checkbox-cover{
                height: 15px;
                width: 15px;
                position: absolute;
                border: .7px $light-türkiz solid;
                cursor: pointer;
                transition: 150ms background ease-out;

                &:hover{
                    background: lighten($light-türkiz, 15);
                }

                &[data-urgent-cb-check="true"]{
                    background: $dark-türkiz;
                }
            }

            label{
                margin: 0;
                padding: 0;
            }

            #urgent-todo-checkbox{
                margin: 0 1rem 0 0;
                width: auto;
                visibility: hidden;

            }
        }

        input,
        textarea,
        button {
            border: $dark-türkiz 1px solid;
            transition: 100ms all ease-out;
            width: 100%;

            &#add-todo-btn{
                margin-top: 4rem;
                display: flex;
                align-items: center;
                justify-content: center;
                i{
                    font-size: 1.7rem;
                    margin-right: .5rem;
                }

                &:hover{
                    background: $dark-türkiz;
                    color: whitesmoke;
                }
            }

            &:hover {
                color: $light-türkiz;
                border-color: $light-türkiz;
            }
        }
    }

    #todo-table {

        border-collapse: collapse;
        border-spacing: 0;
        #todo-table-body {

            .urgent{
                background: lighten($light-türkiz, 55);
                border: none;
                font-weight: 600;
            }
            .status-icon {
                position: relative;
                margin: 0 .5rem;

                &::after {
                    content: 'Finish / Unfinish';
                    padding: 0.4rem 0.7rem;
                    //background: $dark-türkiz;
                    border: $dark-türkiz 1.5px solid;
                    border-radius: 5px;
                    color: $dark-türkiz;
                    font-weight: 600;
                    position: absolute;
                    top: -120%;
                    left: -12rem;
                    font-size: 1.2rem;
                    min-width: 10rem;
                    opacity: 0;
                    transition: all 200ms ease-out;
                    transform: rotate(-20deg) translate(2rem, 4rem);
                    pointer-events: none;
                }

                &:hover:after {
                    opacity: 1;
                    transform: none;
                }
            }
        }

        td,
        th {
            text-align: center;
            width: auto;
            margin: 0;
            
            .todo-btns{
                list-style: none;
                    i {
                        font-size: 2rem;
                        padding: 0.3rem;
                        cursor: pointer;
                        transition: 150ms all ease-out;
        
                        &:hover {
                            color: $light-türkiz;
                        }
        
                        &.finished-icon {
                            color: green;
        
                            &:hover {
                                color: lighten(green, 5);
                            }
                        }
                        &.delete-icon {
                            position: relative;
        
                            &::after {
                                content: 'Delete ToDo';
                                padding: 0.4rem 0.7rem;
                                border: red 1.5px solid;
                                border-radius: 5px;
                                color: red;
                                font-weight: 600;
                                position: absolute;
                                top: -120%;
                                left: 2rem;
                                font-size: 1.2rem;
                                min-width: 10rem;
                                opacity: 0;
                                transition: all 200ms ease-out;
                                transform: rotate(20deg) translate(2rem, 4rem);
                                pointer-events: none;
                            }
        
                            &:hover {
                                color: red;
        
                                &:after {
                                    opacity: 1;
                                    transform: none;
                                }
                            }
                        }
                    }
            }
        }
    }
}

.alert {
    text-align: center;
    transition: 400ms all ease-out;
    max-height: 0;
    transform-origin: center center;
    width: 100%;
    padding: 0.4rem 0.6rem;
    margin: 1rem 0;
    color: white;
    opacity: 0;
    border-radius: 5px;
    animation: showAlert 400ms forwards;

    &.success {
        background: $light-türkiz;
        opacity: 1;
    }

    &.error {
        background: $dark-türkiz;
        opacity: 1;
    }
}

@keyframes showAlert {
    0% {
    }
    100% {
        max-height: 100%;
    }
}

#popup-container{
    height: 30rem;
    width: 35rem;
    position: absolute;
    border: 1px solid $light-türkiz;
    border-radius: 5px;
    padding: 3rem;
}