* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #004872;
  background: white;
}

.todo-container {
  width: 100%;
  min-height: 100vh;
  padding: 5rem 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  position: relative;
  -webkit-transition: 200ms all ease-out;
  transition: 200ms all ease-out;
  background: white;
  z-index: 1;
}

.todo-container #overlay {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 5;
}

.todo-container input,
.todo-container textarea,
.todo-container button {
  border: #004872 1px solid;
  -webkit-transition: 100ms all ease-out;
  transition: 100ms all ease-out;
  width: 100%;
}

.todo-container input#add-todo-btn,
.todo-container textarea#add-todo-btn,
.todo-container button#add-todo-btn {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.todo-container input#add-todo-btn i,
.todo-container textarea#add-todo-btn i,
.todo-container button#add-todo-btn i {
  font-size: 1.7rem;
  margin-right: 0.5rem;
}

.todo-container input#add-todo-btn:hover,
.todo-container textarea#add-todo-btn:hover,
.todo-container button#add-todo-btn:hover {
  background: #004872;
  color: whitesmoke;
}

.todo-container input:hover,
.todo-container textarea:hover,
.todo-container button:hover {
  color: #0078bf;
  border-color: #0078bf;
}

.todo-container #add-todo-form {
  border: 2px solid #004872;
  padding: 5rem 2rem 5rem 2rem;
  border-radius: 10px;
  z-index: 3;
  max-width: 350px;
  min-width: 250px;
  position: relative;
}

.todo-container #add-todo-form h2 {
  font-size: 2.1rem;
  margin-bottom: 6rem;
}

.todo-container #add-todo-form .urgent-checkbox-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.todo-container #add-todo-form .urgent-checkbox-field .checkbox-cover {
  height: 15px;
  width: 15px;
  position: absolute;
  border: 0.7px #0078bf solid;
  cursor: pointer;
  -webkit-transition: 150ms background ease-out;
  transition: 150ms background ease-out;
}

.todo-container #add-todo-form .urgent-checkbox-field .checkbox-cover:hover {
  background: #0ca5ff;
}

.todo-container #add-todo-form .urgent-checkbox-field .checkbox-cover[data-urgent-cb-check='true'] {
  background: #004872;
  -webkit-box-shadow: inset 0 0 0 2px white;
          box-shadow: inset 0 0 0 2px white;
}

.todo-container #add-todo-form .urgent-checkbox-field label {
  margin: 0;
  padding: 0;
}

.todo-container #add-todo-form .urgent-checkbox-field #urgent-todo-checkbox {
  margin: 0 1rem 0 0;
  width: auto;
  visibility: hidden;
}

.todo-container #add-todo-form .urgent-todo-calendar-container {
  margin: 1rem 0;
  display: none;
  opacity: 0;
}

.todo-container #add-todo-form .urgent-todo-calendar-container[data-urgent-reveal='true'] {
  display: block;
  -webkit-animation: revealItem 500ms forwards;
          animation: revealItem 500ms forwards;
}

.todo-container #add-todo-form .urgent-todo-calendar-container #urgent-todo-calendar-day,
.todo-container #add-todo-form .urgent-todo-calendar-container #urgent-todo-calendar-time {
  padding: 1rem;
}

.todo-container #todo-table {
  -webkit-transition: 500ms all ease-out;
  transition: 500ms all ease-out;
  border-collapse: collapse;
  border-spacing: 0;
}

.todo-container #todo-table #todo-table-body .urgent {
  background: #d8f1ff;
  border: none;
  font-weight: 600;
  position: relative;
}

.todo-container #todo-table #todo-table-body .urgent td:first-child {
  background: white;
  border: none;
}

.todo-container #todo-table td,
.todo-container #todo-table th {
  text-align: center;
  width: auto;
  margin: 0;
}

.todo-container #todo-table td:first-child,
.todo-container #todo-table th:first-child {
  border-bottom: none;
}

.todo-container #todo-table td.urgent-icon-td,
.todo-container #todo-table th.urgent-icon-td {
  position: relative;
}

.todo-container #todo-table td.urgent-icon-td .time-div,
.todo-container #todo-table th.urgent-icon-td .time-div {
  position: absolute;
  color: white;
  font-weight: 600;
  top: -20px;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  pointer-events: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transition: 300ms all ease-out;
  transition: 300ms all ease-out;
  -webkit-transform-origin: center right;
          transform-origin: center right;
  opacity: 0;
  background: rgba(32, 32, 32, 0.901);
  max-height: 0;
}

.todo-container #todo-table td.urgent-icon-td:hover .time-div,
.todo-container #todo-table th.urgent-icon-td:hover .time-div {
  max-height: 100%;
  opacity: 1;
  z-index: 5;
}

.todo-container #todo-table td i,
.todo-container #todo-table th i {
  font-size: 2rem;
  padding: 0.3rem;
  cursor: pointer;
  -webkit-transition: 150ms all ease-out;
  transition: 150ms all ease-out;
  position: relative;
}

.todo-container #todo-table td i:hover,
.todo-container #todo-table th i:hover {
  color: #0078bf;
}

.todo-container #todo-table td i.finished-icon,
.todo-container #todo-table th i.finished-icon {
  color: green;
}

.todo-container #todo-table td i.finished-icon:hover,
.todo-container #todo-table th i.finished-icon:hover {
  color: #009a00;
}

.todo-container #todo-table td i::after,
.todo-container #todo-table th i::after {
  content: '';
  padding: 0.4rem 0.7rem;
  border: #004872 1.5px solid;
  border-radius: 5px;
  color: #004872;
  font-weight: 600;
  position: absolute;
  top: -100%;
  left: 0rem;
  font-size: 1.2rem;
  min-width: 10rem;
  max-height: 0;
  opacity: 0;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  pointer-events: none;
}

.todo-container #todo-table td i:hover:after,
.todo-container #todo-table th i:hover:after {
  opacity: 1;
  max-height: 100%;
}

.todo-container #todo-table td i.status-icon,
.todo-container #todo-table th i.status-icon {
  margin: 0 0.5rem;
}

.todo-container #todo-table td i.status-icon::after,
.todo-container #todo-table th i.status-icon::after {
  content: 'Finish / Unfinish';
}

.todo-container #todo-table td i.edit-todo-btn::after,
.todo-container #todo-table th i.edit-todo-btn::after {
  content: 'Details / Edit';
  left: -4rem;
}

.todo-container #todo-table td i.delete-todo-btn::after,
.todo-container #todo-table th i.delete-todo-btn::after {
  content: 'Delete ToDo';
  border: red 1.5px solid;
  color: red;
  top: -90%;
  left: -400%;
}

.todo-container #todo-table td i.delete-todo-btn:hover,
.todo-container #todo-table th i.delete-todo-btn:hover {
  color: red;
}

.todo-container #todo-table td i.clock-icon::after,
.todo-container #todo-table th i.clock-icon::after {
  border: none;
  max-height: 0;
  padding: 0;
}

.todo-container #edit-div-window {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 6;
  margin: 2rem auto;
  background: white;
  border: #0078bf 1px solid;
  border-radius: 10px;
  padding: 2rem;
  color: #0078bf;
  opacity: 0;
  -webkit-transform: translate(-50%, -45px);
          transform: translate(-50%, -45px);
  -webkit-animation: openEditor 400ms forwards;
          animation: openEditor 400ms forwards;
}

.todo-container #edit-div-window h5 {
  color: #004872;
  font-size: 1.5rem;
}

.todo-container #edit-div-window input, .todo-container #edit-div-window textarea {
  color: #004872;
  font-weight: 600;
  font-size: 2rem;
  border: none;
  outline: none;
  text-align: left;
  -webkit-transition: 200ms all ease-out;
  transition: 200ms all ease-out;
}

.todo-container #edit-div-window input:focus, .todo-container #edit-div-window input:hover, .todo-container #edit-div-window textarea:focus, .todo-container #edit-div-window textarea:hover {
  color: #0078bf;
  border: 0.7px dotted #0078bf;
}

.todo-container #edit-div-window #edit-todo-textarea {
  width: 100%;
  font-weight: 500;
}

.todo-container #edit-div-window .edit-todo-btn-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
}

.todo-container #edit-div-window .edit-todo-details {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: .4rem .7rem;
  border: 1px solid #0078bf;
  border-radius: 10px;
}

.todo-container #edit-div-window .edit-todo-details .todo-detail {
  padding: 0;
  margin: 0;
}

.alert {
  text-align: center;
  -webkit-transition: 400ms all ease-out;
  transition: 400ms all ease-out;
  max-height: 0;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  width: 100%;
  padding: 0.4rem 0.6rem;
  margin: 1rem 0;
  color: white;
  opacity: 0;
  border-radius: 5px;
  -webkit-animation: showAlert 400ms forwards;
          animation: showAlert 400ms forwards;
}

.alert.success {
  background: #0078bf;
  opacity: 1;
}

.alert.error {
  background: #004872;
  opacity: 1;
}

@-webkit-keyframes showAlert {
  0% {
  }
  100% {
    max-height: 100%;
  }
}

@keyframes showAlert {
  0% {
  }
  100% {
    max-height: 100%;
  }
}

@-webkit-keyframes revealItem {
  100% {
    opacity: 1;
  }
}

@keyframes revealItem {
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes openEditor {
  100% {
    -webkit-transform: translate(-50%, 20px);
            transform: translate(-50%, 20px);
    opacity: 1;
  }
}

@keyframes openEditor {
  100% {
    -webkit-transform: translate(-50%, 20px);
            transform: translate(-50%, 20px);
    opacity: 1;
  }
}

@media (max-width: 868px) {
  .todo-container {
    width: 100%;
    padding: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .todo-container #todo-table {
    font-size: 1.2rem;
  }
  .todo-container #todo-table .tr-todo-description,
  .todo-container #todo-table #th-todo-description {
    display: none;
  }
  .todo-container #todo-table #todo-table-body tr td i.delete-todo-btn {
    color: red;
  }
  .todo-container #todo-table #todo-table-body tr td .time-div {
    max-height: 100%;
    z-index: 5;
    font-size: 1rem;
    background: transparent;
    color: #004872;
  }
}
/*# sourceMappingURL=style.css.map */